<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h2 class="navbar-brand" href="#">7forums</h2>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text" id="navbarNav">
            <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Back</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container justify-content-center align-items-center mt-5">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Create a Post</h2>

            <form action="/post/create" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>

                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea name="content" class="form-control form-control-lg rounded border shadow" rows="4"></textarea>
                </div>

                <label for="category">
                    Category:
                </label>
                <select class="form-control mb-3" id="category" name="category">
                    <option value="General">General</option>
                    <option value="Tech">Tech</option>
                    <option value="VideoGames">Video Games</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="News">News</option>
                    <option value="off-topic">Off-Topic</option>
                </select>

                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>